<main>
    <section>
        {% extends 'base.html' %}

        {% block content %}
        <h2>Balance: ₹{{ balance }}</h2>
        <table>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
            {% for entry in entries %}
            <tr>
                <td>{{ entry.date }}</td>
                <td>{{ entry.description }}</td>
                <td>{{ entry.amount }}</td>
                <td>{{ entry.type }}</td>
                <td>
                    <form action="{{ url_for('delete_entry', entry_id=entry.id) }}" method="POST"
                        style="display:inline;">
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endblock %}
    </section>
</main>